<ul ng-class="{ 'hide' : selected.menu != undefined }">
    <li ng-repeat="menu in config.items" ng-click="navigation.toMenu({index: $index, name: menu.name})" class="box">
        <img class="box-image" ng-src="{{menu.imageUrl}}" alt="" />
        <p class="box-title">{{menu.name | uppercase}}</p>
        <hr>
        <p class="box-description">{{menu.description}}</p>
    </li>
</ul>
<ul ng-class="{ 'hide' : selected.subMenu != undefined }">
    <li ng-repeat="submenu in config.items[selected.menu.index].submenus" ng-click="navigation.toSubMenu({index: $index, name: submenu.name})" class="box">
        <img class="box-image" ng-src="{{submenu.imageUrl}}" alt="" />
        <p class="box-title">{{submenu.name | uppercase}}</p>
        <hr>
        <p class="box-description">{{submenu.description}}</p>
    </li>
</ul>
<ul ng-class="{ 'hide' : selected.item != undefined }">
    <li ng-repeat="item in config.items[selected.menu.index].submenus[selected.subMenu.index].items" ng-click="navigation.toItem({index: $index, name: item.name})" class="box">
        <img class="box-image" ng-src="{{item.imageUrl}}" alt="" />
        <p class="box-title">{{item.name}}</p>
        <hr>
        <p class="box-description">{{item.description}}</p>
    </li>
</ul>